animal_db_xml_files/diets_tb_xml/diets.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT database (table)>
<!ATTLIST database name CDATA #REQUIRED>

<!ELEMENT table (columns, data)>
<!ATTLIST table name CDATA #REQUIRED>

<!ELEMENT columns (column*)>
<!ELEMENT column EMPTY>
<!ATTLIST column
    name CDATA #REQUIRED
    type CDATA #REQUIRED
    nullable CDATA #REQUIRED
    auto_increment CDATA #IMPLIED>

<!ELEMENT data (row*)>
<!ELEMENT row EMPTY>
<!ATTLIST row
    diet_id CDATA #REQUIRED
    diet_name CDATA #REQUIRED>